.pagination {
  margin: 50px 0;
  &-wrapper {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    @media screen and (max-width: 780px) {
      .previous,
      .next {
        display: none;
      }
    }
    li {
      margin: 0 5px;
    }

    a {
      cursor: pointer;
      padding: 18px 28px;
      border: none;
      border-radius: 10px;
      background-color: #f1f1f1;
      color: #333;
      font-size: 18px;
      font-weight: 600;
      transition: background-color 0.3s;
      @media screen and (max-width: 476px) {
        padding: 7px 14px;
        border-radius: 7px;
      }
    }

    li.selected a {
      background-color: #0236e5;
      color: white;
    }

    a:hover {
      background-color: #dcdcdc;
    }
  }
}
